/* Betra summoner_input design fyrir mobile */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
	#summoner_input .input-group {
		display: block;
	}
	#summoner_input button {
		margin-top: 10px;
	}
}
.search-label {
	padding-top: 15px;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.search-button {
	margin-top: 20px;
}
.lp {
	color: #5a5a5a;
}
#table_search table td {
	font-weight: bold;
}
/* Jumbatron/hero/summoner_input styles */
#hero {
	background: url('../images/bg_hero_lucian.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
}
.navbar {
	margin-bottom: 0px;
}
#summonerName_output {
	height: 3.6em;
	margin-bottom: 2em;
	margin-top: -1em;
}
#summonerName_output .alert {
	margin: auto;
	display: table;
}
/* Styles fyrir öll tables */
.win {
	color: #2daf7f;
}
.loss {
	color: #e74c3c;
}
.kda_green {
	color: #2daf7f;
}
.kda_blue {
	color: #1f8ecd;
}
.kda_orange {
	color: #e19205;
}
table tbody td .progress {
	margin-bottom: 0;
	height: 16px;
}
table tbody td .progress .progress-bar {
	font-size: 15px;
	line-height: 15px;
}
table.dataTable tbody td {
  vertical-align: middle;
}
/* Keyframes fyrir spinning glyphicon í summoner_input */
@keyframes spin {
	from { transform: scale(1) rotate(0deg); }
	to { transform: scale(1) rotate(360deg); }
}
.glyphicon.spinning {
	animation: spin 1s infinite linear;
}
/* FAQ collapse takkar */
.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\25bc"; /* "play" icon */
	float: right;
	color: #F58723;
	font-size: 18px;
	line-height: 22px;
}
.panel-heading [data-toggle="collapse"].collapsed:after {
	content: "\25b2";
	color: #454444;
}
